@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600;800&family=Rubik:wght@800&display=swap');

$color-dark-mode-elements: hsl(209, 23%, 22%);
$color-dark-mode-background: hsl(207, 26%, 17%);
$color-dark-mode-text: hsl(0, 0%, 100%);
$color-light-mode-elements: hsl(0, 0%, 100%);
$color-light-mode-background: hsl(0, 0%, 98%);
$color-light-mode-text: hsl(200, 15%, 8%);
$color-light-mode-input: hsl(0, 0%, 52%);

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  background: $color-light-mode-background;
  color: $color-light-mode-text;
}