@import 'normalize.scss', './colors.scss', './fonts.scss', 'resetters.scss', 'theme.scss';

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.875rem;
}

button {
  @include reset-btn;
}

select {
  cursor: pointer;
}

input, select {
  font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}