@import '../../styles/colors.scss';

.Header__container {
  background: $color-light-elements;
  box-shadow: 0px 1px 2px get-opacity($color-light-shadow, 0.3);
}

.Header {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__title {
    font-size: 1rem;
  }
  &__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: $color-light-text;
  }
}

@media (min-width: 1024px) {
  .Header {
    &__title {
      font-size: 1.5rem;
    }
    &__btn {
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.theme_dark {
  .Header__container {
    background: $color-dark-elements;
    box-shadow: 0px 1px 2px get-opacity($color-dark-shadow, 0.3);
  }
  .Header__btn {
    color: $color-dark-text;
  }
}