@import '../../styles/colors.scss';

.Search {
  margin: 30px 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px get-opacity($color-light-shadow, 0.3);
  border-radius: 5px;
  &__btn {
    margin-right: 10px;
    color: $color-light-input;
  }
  &__input {
    background: none;
    border: none;
    outline: none;
    color: $color-light-input;
    font-weight: 600;
    &::placeholder {
      color: $color-light-input;
    }
  }
}

@media (min-width: 1024px) {
  .Search {
    width: 100%;
    max-width: 500px;
  }
}

.theme_dark {
  .Search {
    background: $color-dark-elements;
    box-shadow: 0px 0px 5px get-opacity($color-dark-shadow, 0.3);
    &__btn {
      color: $color-dark-input;
    }
    &__input {
      color: $color-dark-input;
      &::placeholder {
        color: $color-dark-input;
      }
    }
  }
}
