@import '../../styles/colors.scss', '../../styles/animations.scss';

.CountryCard__container {
  min-height: 150px;
  width: 100%;
  color: $color-light-text;
}

.CountryCard {
  width: 100%;
  overflow: hidden;
  background: $color-light-elements;
  box-shadow: 0px 0px 5px get-opacity($color-light-shadow, 0.3);
  border-radius: 5px;
  animation: 1.5s show_opacity;
  &__img {
    width: 100%;
    min-height: 190px;
    max-height: 190px;
  }
  &__name {
    margin: 0;
    padding: 20px;
    font-size: 1rem;
    font-weight: 800;
  }
  &__list {
    margin: 0;
    padding: 20px;
    padding-top: 0;
    list-style: none;
    li {
      margin-bottom: 10px;
      span {
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 1200px) {
  .CountryCard__container {
    transition: 0.3s;
    &:hover {
      transform: scale(1.02);
    }
  }
}

.theme_dark {
  .CountryCard__container {
    color: $color-dark-text;
  }
  .CountryCard {
    background: $color-dark-elements;
    box-shadow: 0px 0px 5px get-opacity($color-dark-shadow, 0.3);
  }
}